extends layout

block styles
    link(rel='stylesheet', href='libs/jsonTreeViewer/libs/jsonTree/jsonTree.css')

block content
    h4(class="margin-top col-sm-12")  Authorization Endpoint Response
    div(id="content_auth" class="col-sm-12")

    h4(class="margin-top col-sm-12")  Token Endpoint Response
    p
        b=uriToken
    div(id="content_token" class="col-sm-12")

    h4(class="margin-top col-sm-12")  UserInfo Endpoint Response
    p
        b=uriUser
    div(id="content_userinfo" class="col-sm-12")

    h4(class="margin-top col-sm-12 show-idtoken" style="display: none")  IdToken
    div(id="content_idtoken" class="col-sm-12 show-idtoken" style="display: none")

    div(class="col-sm-12 text-center content-btn")
        a(class="btn btn-danger" href=baseUrl + '/logout') Salir

block scripts
    script.
        var resAuth = '#{resAuth}';
        var resToken = '#{resToken}';
        var resUser = '#{resUser}';

    script(src="libs/jsonTreeViewer/libs/jsonTree/jsonTree.js")
    script(src="js/main.js")
    script(src="js/info.js")

